header, nav, main, footer, aside {display: block;}
 
body { background-color: #ffffff;
      color: #666666;
	  font-family: Verdana, Arial, sans-serif;
}
header { background-color: #000033;
         color: #ffffff;
		 font-family: Georgia, serif; 
}
h1 { line-height: 200%;  
     padding-left: 20px;
	 height: 72px; 
     margin-bottom: 0; 
}
nav { font-weight: bold;
	 padding: 20px 5px 0 20px;
}
nav a { text-decoration: none; 
}
nav a:link { color: #000033; 
}
nav a:visited { color: #344873; 
}
nav a:hover { color: #ffffff; 
}


h2 { color: #3399cc;
     font-family: Georgia, serif;
}
h3 { color: #000033; }
dt { color: #000033; 
   font-weight: bold; 
}
.resort { color: #000033;
          font-size: 1.2em;
}
footer { font-size: .70em;
         font-style: italic;
		 text-align: center;
        padding: 10px;		
       background-color: #ffffff;
       margin-left: 170px;	   
}
main { padding: 1px 20px;
	  background-color: #ffffff;
	
}

#wrapper { width: 80%;
          margin-left: auto;
		  margin-right: auto;
		  background-color: #90c7e3;
		  min-width: 700px;
		  max-height: 1024px;
		  box-shadow: 3px 3px 3px #333
}
#picmain{
	background-image: url(../images/coast.jpg);
	}
#picyurt{
	background-image: url(../images/yurt.jpg);
	}
#pictrail{
	background-image: url(../images/trail.jpg);
	}
.picall
{
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 170px;
}