header, nav, main, footer, aside {
    display: block;
}
#wapper
{
	margin-left: 20%;
	margin-right: 20%;
}
.greenb
{
	border: 5px dashed lightgreen;
}
.red
{
	color: red;
}
.space
{
	margin-right: 5%;
	font-weight: bold;
}
.gray
{
	color: gray;
}
legend
{
	color: red;
	font-weight: bold;
}
#number
{
	width:5%;
}
