/*   Exercise 2 -- tennis_revisited   */
body {background-color:#800;
	color:#fff;
	font-family: baskerville,lucida bright,serif;
}
h1 {color: #fcf;
}
h1, h3 {font-family:letter gothic,courier,monospace; 
}
h2 {
    color: black;
    text-decoration: underline;
}

main p {font-style: italic;
    font-size:150%;
	color:#fcc;
}
